body {
	font-size: 16px;
	color: #fff; 
}
/*header section*/
#header-nav {
	background-color: black;
	border-radius: 0;
	border :0;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

.brand {
	color: white;
}



#main-heading {
	color: black;
	font-family: 'Notable', sans-serif;
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bolder;

}
#brand {
	color: white;
}
.content-section {
	background-color: grey;
	padding: 10px;
	margin: 0 auto;
    margin-bottom: 15px;
}
.sub-headings {
	padding: 5px;
	font-weight: bold;
}
p {
	font-family: 'Josefin Sans', sans-serif;
}
#menu-style {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;

}
.link-decor {
	color: black;
}
.navbar-collapse.collapse#bs-example-navbar-collapse-1 {
	background-color: #F08080;
}

.nav.navbar-nav {
	background-color: #F08080;
	margin-top: 0;
	margin-bottom: 0;
	padding: 8px 0;
}

#main-section {
	padding: 20px;
}

@media(max-width: 767px){
	#main-section {
	padding: 60px;
}
}

@media (min-width: 767px){
.navbar-collapse.collapse#bs-example-navbar-collapse-1 {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
}